a:hover {
	text-decoration: none;
}

#teamPanel span {
	background-color: rgba(40, 160, 220, 1);
	box-shadow: 0 0 14px rgba(40, 160, 220, 0.6);
}

#teamPanel span:hover {
	background-color: rgba(0, 180, 220, 1);
	box-shadow: 0 0 18px rgba(0, 180, 220, 0.8);
}

.popover {
	width: 584px;
}

.popover .bio {
	line-height: 146%;
	font-size: 12px;
	text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.6);
}

#supPanel {
	position: absolute;
	display: block;
}

#supPanel ul {
	margin-left: auto;
	margin-right: auto;
}

#devPanel a:hover .devName,#supPanel a:hover .supName {
	background: rgba(0, 0, 0, 0.3);
	text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
	color: transparet;
}

#devPanel li,#supPanel li {
	position: relative;
}

.quotationMarks {
	max-width: 16px;
	max-height: 16px;
	margin-top: 5px;
}

.quoteTitle {
	margin-top: -20px;
	margin-bottom: -8px;
}

.quote {
	font-size: 10.5px;
}

img {
	border-radius: 8px;
	margin-bottom: 10px;
}

.devImg {
	min-width: 200px;
	min-height: 200px;
	max-width: 200px;
	max-height: 200px;
	margin-top: 10px;
	box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.3);
}

.devName {
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	position: absolute;
	left: 0;
	bottom: 18px;
	z-index: 1;
	padding: 3px 5px;
	background: rgba(0, 0, 0, 0.6);
	border-radius: 0 6px 6px 0;
}

.supImg {
	min-width: 150px;
	min-height: 150px;
	max-width: 150px;
	max-height: 150px;
	margin-top: 8px;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
}

.supName {
	color: #fff;
	font-size: 11px;
	font-weight: bold;
	position: absolute;
	left: 0;
	bottom: 18px;
	z-index: 1;
	padding: 1px 3px;
	background: rgba(0, 0, 0, 0.6);
	border-radius: 0 4px 4px 0;
}