#ticker {
	height: 90px;
	margin-left: 0px;
	margin-top: -2px;
	overflow: hidden;
}

#ticker li {
	height: 78px;
	margin: 0 0 9px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
}

#myModal {
	width: 51%;
	position: absulute;
	left: 39%;
}
.globalcenter {
	margin-left:25%
	margin-right:25%
}