html,body {
	height: 100%;
}

body {
	background: url(/images/snippets.png);
}

.fullSpan {
	display: table;
	width: 100%;
	height: 100%;
}

#mainSpan {
	background: url("/images/BP_bg_f.png") no-repeat;
	background-position-x: 50%;
	background-position-y: 100%;
	background-color: #1F60C8;
	overflow: hidden;
}

#featuresSpan {
	background-color: orange;
}

#aboutSpan {
	background-color: yellow;
}

#mid {
	vertical-align: middle;
	display: table-cell;
}

#mainSpan,#mid,#in {
	text-align: center;
}

#glyph {
	display: block;
	position: relative;
	top: 20px;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	transition: all 400ms ease;
}