.popover {
	border: 1px solid;
	border-color: #A0A0A0;
	box-shadow: 0 0 0 0;
}

.popover.right {
	margin-left: 14px;
}

.popover.right .arrow {
	left: -14px;
	border-width: 14px 14px 14px 0;
	border-right-color: #A0A0A0;
}

.popover.left {
	margin-left: -14px;
}

.popover.left .arrow {
	right: -14px;
	border-width: 14px 0 14px 14px;
	border-left-color: #A0A0A0;
}

.popover.bottom {
	margin-top: 14px;
}

.popover.bottom .arrow {
	top: -14px;
	border-width: 0 14px 14px 14px;
	border-bottom-color: #A0A0A0;
}

.popover,.popover-title {
	background-color: rgba(40, 160, 220, 0.6);
	color: white;
	text-shadow: 0 0 8px rgba(255, 255, 255, 0.6), -1px 0 black, 0 1px black,
		1px 0 black, 0 -1px black;
}

.popover-title {
	font-size: 16px;
	font-weight: bold;
}

.popover legend {
	margin-top: 4px;
	text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.6);
}