/*------------------------------------------------------------------------------------
  @group Global Reset
------------------------------------------------------------------------------------*/
* {
	padding: 0;
	margin: 0;
}

h1,h2,h3,h4,h5,h6,p,pre,blockquote,label,ul,ol,dl,fieldset,address {
	margin: 1em 0;
}

li,dd {
	margin-left: 5%;
}

fieldset {
	padding: .5em;
}

select option {
	padding: 0 5px;
}

.access {
	display: none;
} /* For accessibility related elements */
.clear {
	clear: both;
	height: 0px;
	font-size: 0px;
	line-height: 0px;
	overflow: hidden;
}

a {
	outline: none;
}

a img {
	border: none;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: inline-block;
}

.clearfix {
	display: block;
}

/* @end */

/*------------------------------------------------------------------------------
  @group Layout
------------------------------------------------------------------------------*/
body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #333;
}

#statusbar .pageheader_wrap .inner {
	position: relative;
	margin: 0 auto;
	width: 918px;
}

#header .inner {
	position: relative;
	margin: 0 auto;
	width: 958px;
}

#content {
	position: relative;
	margin: 0 auto;
	width: 920px;
	padding: 0 20px 0 20px;
}

#content:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

* html #content {
	height: 1%;
}

#content {
	display: inline-block;
}

#content {
	display: block;
}

#content .main {
	float: left;
	margin-top: 12px;
	width: 560px;
}

#content .sidebar {
	float: right;
	width: 330px;
}

/* @end */

/*------------------------------------------------------------------------------
  @group Header
------------------------------------------------------------------------------*/
#header {
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#eaeaea')";
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 0 10px
		rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid #cacaca;
	height: 47px;
	position: relative;
	z-index: 10;
}

h2#logo {
	float: left;
	margin: 10px 0 0 20px;
	width: 140px;
	height: 41px;
}

h2#logo a {
	display: block;
	height: 30px;
	width: 205px;
	text-decoration: none;
	text-indent: -9999px;
	background: url(../images/status/logo_status_noproblems.png) 0 0
		no-repeat;
}

.minorproblem h2#logo a {
	background: url(../images/status/logo_status_minorproblems.png) 0 0
		no-repeat;
}

.majorproblem h2#logo a {
	background: url(../images/status/logo_status_majorproblems.png) 0 0
		no-repeat;
}

#header p.misc {
	float: right;
	font-size: 13px;
	margin: 16px 18px 0 0;
}

/* @end */

/*------------------------------------------------------------------------------
  @group Status Bar
------------------------------------------------------------------------------*/
#statusbar .inner {
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
	padding: 20px;
	border-radius: 3px;
}

.pageheader_wrap {
	background: #b4b4b4;
	background: -moz-linear-gradient(top, #b4b4b4 0%, #949494 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b4b4b4),
		color-stop(100%, #949494) );
	background: -webkit-linear-gradient(top, #b4b4b4 0%, #949494 100%);
	background: -o-linear-gradient(top, #b4b4b4 0%, #949494 100%);
	background: -ms-linear-gradient(top, #b4b4b4 0%, #949494 100%);
	background: linear-gradient(top, #b4b4b4 0%, #949494 100%);
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebeaeb', endColorstr='#949494', GradientType=0)";
	box-shadow: inset 0 -3px 3px 0 rgba(255, 255, 255, 0.15);
	position: relative;
	margin: 0 auto;
}

.good #statusbar .pageheader_wrap {
	background: #77cd00;
	background: -moz-linear-gradient(top, #77cd00 0%, #4db800 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #77cd00),
		color-stop(100%, #4db800) );
	background: -webkit-linear-gradient(top, #77cd00 0%, #4db800 100%);
	background: -o-linear-gradient(top, #77cd00 0%, #4db800 100%);
	background: -ms-linear-gradient(top, #77cd00 0%, #4db800 100%);
	background: linear-gradient(top, #77cd00 0%, #4db800 100%);
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr='#77cd00', endColorstr='#4db800', GradientType=0)";
	box-shadow: inset 0 -3px 3px 0 rgba(255, 255, 255, 0.15);
	position: relative;
	margin: 0 auto;
}

.minorproblem #statusbar .pageheader_wrap {
	background: #ee9300;
	background: -moz-linear-gradient(top, #ee9300 0%, #e36700 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee9300),
		color-stop(100%, #e36700) );
	background: -webkit-linear-gradient(top, #ee9300 0%, #e36700 100%);
	background: -o-linear-gradient(top, #ee9300 0%, #e36700 100%);
	background: -ms-linear-gradient(top, #ee9300 0%, #e36700 100%);
	background: linear-gradient(top, #ee9300 0%, #e36700 100%);
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee9300', endColorstr='#e36700', GradientType=0)";
}

.majorproblem #statusbar .pageheader_wrap {
	background: #d30202;
	background: -moz-linear-gradient(top, #d30202 0%, #b80000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d30202),
		color-stop(100%, #b80000) );
	background: -webkit-linear-gradient(top, #d30202 0%, #b80000 100%);
	background: -o-linear-gradient(top, #d30202 0%, #b80000 100%);
	background: -ms-linear-gradient(top, #d30202 0%, #b80000 100%);
	background: linear-gradient(top, #d30202 0%, #b80000 100%);
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr='#d30202', endColorstr='#b80000', GradientType=0)";
}

#statusbar p {
	margin: 0 0 10px 0;
	opacity: 0.7;
}

#statusbar h1 {
	margin: 0 0 0 -3px;
	font-size: 48px;
	letter-spacing: -1px;
}

#statusbar .octocat {
	display: block;
	position: absolute;
	bottom: 0;
	right: 30px;
	width: 220px;
	height: 100px;
	background: url(../images/octocat.png) 0 0 no-repeat;
}

.minorproblem #statusbar .octocat {
	background-position: 0 -200px;
}

.majorproblem #statusbar .octocat {
	background-position: 0 -400px;
}

#realtime {
	background: #3a3a3a;
	background: -moz-linear-gradient(top, #3a3a3a 0%, #444444 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3a3a3a),
		color-stop(100%, #444444) );
	background: -webkit-linear-gradient(top, #3a3a3a 0%, #444444 100%);
	background: -o-linear-gradient(top, #3a3a3a 0%, #444444 100%);
	background: -ms-linear-gradient(top, #3a3a3a 0%, #444444 100%);
	background: linear-gradient(top, #3a3a3a 0%, #444444 100%);
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr='#3a3a3a', endColorstr='#444444', GradientType=0)";
	box-shadow: inset 0 3px 3px 0 #363636;
	color: #eee;
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 1px;
	margin: 0 auto;
	position: relative;
	text-shadow: 0 -1px 0 #000;
}

#realtime .inner {
	margin: -1px 6px 0 6px;
	margin: 0 auto;
	padding: 10px 13px 7px 13px;
	width: 934px;
}

#realtime .inner .service {
	position: relative;
	float: left;
	padding: 0 0 0 26px;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);
	letter-spacing: -0.02em;
	margin-right: 20px;
	line-height: 20px;
}

#realtime .status {
	overflow: visible;
	position: absolute;
	top: -5px;
	left: 0;
	background: url("../images/status/status.png");
	width: 26px;
	height: 26px;
	display: block;
	margin: 0 5px 0 0;
}

#realtime .up {
	background-position: 0 0;
}

#realtime .problem {
	background-position: 0 -53px;
}

#realtime .down {
	background-position: 0 -26px;
}

#realtime .spinner {
	margin-right: 8px;
	float: right;
}

/* @end */

/*------------------------------------------------------------------------------
  @group Content Styles
------------------------------------------------------------------------------*/
a {
	color: #016dc9;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h3 {
	margin: 50px 0 0 0;
	padding: 0 0 3px 0;
	font-size: 12px;
	color: #000;
	text-transform: uppercase;
	border-bottom: 1px solid #ddd;
}

h3.majorproblem {
	color: #c00000;
}

h3.minorproblem {
	color: #ea7f00;
}

.main>h3:first-child {
	margin-top: 20px;
}

.main ul {
	font-size: 12px;
	font-weight: bold;
}

.main p.more {
	font-size: 12px;
	font-weight: bold;
}

.main p.when {
	margin: 10px 0 5px 0;
	font-size: 10px;
	text-transform: uppercase;
	color: #666;
}

/* @end */

/*------------------------------------------------------------------------------
  @group Sidebar Modules
------------------------------------------------------------------------------*/
.module {
	margin: 32px 0 10px 0;
	padding: 3px;
	font-size: 13px;
	line-height: 1.4;
	color: #666;
	background: #eeeeee;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.module>.inner {
	padding: 12px;
	border: 1px solid #ddd;
	background: #fafafa;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.module h2 {
	margin: 0 0 8px -8px;
	width: 100%;
	padding: 0 8px 8px 8px;
	font-size: 14px;
	color: #333;
	border-bottom: 1px solid #ddd;
	text-shadow: #fff 1px 1px 0;
}

.module h2.twitter {
	background: url(../images/status/twitter_logo.png) 95% 0 no-repeat;
}

.module h2+p {
	margin-top: 0;
}

.module p:last-child {
	margin-bottom: 0;
}

.module em.paren-note {
	font-style: normal;
	color: #444;
}

.module h3 {
	margin: 0 0 -0.75em 0;
	font-size: 13px;
}

.module strong {
	color: #333;
}

.module .tweet {
	margin-left: -8px;
	width: 100%;
	padding: 0 8px;
	border-top: 1px solid #ddd;
}

.module #tweets>.tweet:first-child {
	border-top: none;
}

.module .tweet p.meta {
	margin: -10px 0 10px 0;
	text-align: right;
}

.module .tweet p.meta a {
	color: #444;
	text-decoration: underline;
}

/* @end */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.clearfix {
	display: inline-table;
}
/* Hides from IE-mac \*/
* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}
/* End hide from IE-mac */