#timeline {
	position: fixed;
	bottom: -200px;
	left: 35px;
	height: 400px;
	width: 50px;
	z-index: 5;
}

#timeline .line {
	position: absolute;
	top: 0;
	left: 7px;
	width: 1px;
	height: 100%;
	background: rgba(255, 255, 255, 0.3);
}

#timeline .link {
	position: absolute;
	left: 5px;
	margin-top: 0px;
	opacity: 0.7;
	filter: alpha(opacity =   70);
}

#timeline .link .dot {
	-webkit-transition: -webkit-transform 0.15s ease-out, -webkit-transform
		0.15s ease-out;
	-moz-transition: -moz-transform 0.15s ease-out, -webkit-transform 0.15s
		ease-out;
	-o-transition: -o-transform 0.15s ease-out, -webkit-transform 0.15s
		ease-out;
	transition: transform 0.15s ease-out, -webkit-transform 0.15s ease-out;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	background: white;
	border-radius: 5px;
	width: 5px;
	height: 5px;
}

#timeline .link a {
	-webkit-transition: opacity 0.3s ease-out;
	-moz-transition: opacity 0.3s ease-out;
	-o-transition: opacity 0.3s ease-out;
	transition: opacity 0.3s ease-out;
	display: inline-block;
	position: absolute;
	overflow: hidden;
	color: white;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	font-size: 17px;
	font-size: 17px;
	top: -6px;
	padding-left: 20px;
	opacity: 0;
	filter: alpha(opacity =   0);
}

#timeline .link.active,#timeline .link.hover {
	opacity: 1;
	filter: alpha(opacity =   100)
}

#timeline .link.active .dot,#timeline .link.hover .dot {
	-webkit-transition: -webkit-transform 0.15s ease-out, -webkit-transform
		0.15s ease-out;
	-moz-transition: -moz-transform 0.15s ease-out, -webkit-transform 0.15s
		ease-out;
	-o-transition: -o-transform 0.15s ease-out, -webkit-transform 0.15s
		ease-out;
	transition: transform 0.15s ease-out, -webkit-transform 0.15s ease-out;
	border-radius: 9px;
	-webkit-transform: scale(1.8);
}

#timeline .link.active a,#timeline .link.hover a {
	-webkit-transition: opacity 0.3s ease-out;
	-moz-transition: opacity 0.3s ease-out;
	-o-transition: opacity 0.3s ease-out;
	transition: opacity 0.3s ease-out;
	opacity: 1 !important;
	filter: alpha(opacity =   100);
	top: -6px;
}

@media all and (max-width: 800px) {
	#timeline {
		display: none !important;
	}
}

.forceHide {
	display: none !important;
}