.add {
	border-radius: 6px;
	text-align: center;
	padding: 30px;
	background: rgba(180, 228, 238, 0.2);
	box-shadow: 0 0 15px rgba(180, 228, 238, 0.5);
}

.add:hover {
	background: rgba(80, 228, 255, 0.2);
	box-shadow: 0 0 15px rgba(80, 228, 238, 0.5);
}

a:hover {
	text-decoration: none;
}

#existingCourses a:hover .cNameSpan,#popoverPreviewUl a:hover .cNameSpan
	{
	background: rgba(0, 0, 0, 0.3);
	text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
	color: transparet;
	white-space: normal;
}

.popover.right {
	width: 160px;
}

.popover.bottom {
	margin-top: 126px;
	margin-left: 55px;
}

.popover.bottom .arrow {
	top: -14px;
	border-width: 0 14px 14px 14px;
	border-bottom-color: #A0A0A0;
}

.popover,.popover-title {
	background-color: rgba(40, 160, 220, 0.5);
	color: white;
	text-shadow: 0 0 8px rgba(255, 255, 255, 0.6), -1px 0 black, 0 1px black,
		1px 0 black, 0 -1px black;
}

.popover-title {
	font-size: 16px;
	font-weight: bold;
}

.courseView {
	padding: 10px;
	width: 100px;
	border-radius: 4px;
}

#PcoursePreviewer {
	border: 4px solid;
	background-image: url('/images/creatorBackground.png');
	margin-bottom: -13px;
	margin-top: 8px;
}

.cNameSpan {
	color: #fff;
	font-size: 10px;
	font-weight: bold;
	position: absolute;
	z-index: 1;
	padding: 3px 5px;
	background: rgba(0, 0, 0, 0.6);
	border-radius: 4px 0 4px 0;
}

.courseImg {
	box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.3);
	max-width: 100px;
	max-height: 100px;
	margin: 0;
	padding: 0;
	border-radius: 4px;
}

#existingCourses h6,#popoverPreviewUl h6 {
	margin-bottom: 0;
	font-size: 10px;
}

#help-info {
	display: none;
	white-space: normal;
}

#courseCreatorContainer {
	border-top: 1px solid #E5E5E5;
	border-bottom: 1px solid #E5E5E5;
	background-image: url('/images/creatorBackground.png');
}

#myModal {
	width: 490px;
}

#addCourseForm {
	display: inline-block;
}

#exCoursesPanel,#noCourses {
	display: none;
}